@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.5rem;
}

.slick-prev {
  z-index: 1;
  left: 1rem !important;
}
.slick-next {
  right: 1rem !important;
}

.slick-dots {
  background-color: #fff;
}
.slick-dots li {
  border-radius: 50%;
  padding: 4px;
  width: min-content;
}

#left-sidebar::-webkit-scrollbar {
  width: 4px;
}

#left-sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}


.grid-card2 {
  box-shadow: #00000029 0px 1px 4px;
}