@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4.5rem;
  --navbar-width: 4rem;
}

@media all and (max-width: 1024px) {
  :root {
    --header-height: 3.5rem;
  }
}



body {
  font-family: "Poppins", system-ui;
}

.nav-active {
  background-color: rgb(37 99 235 / 0.1);
}
.nav2-active {
  background-color: rgb(37 99 235 / 0.1);
}

.slick-prev {
  z-index: 1;
  left: 1rem !important;
}
.slick-next {
  right: 1rem !important;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: fit-content;
  max-height: fit-content;
  border-radius: 50px;
  padding: 0 2px;
}

.slider .slick-dots li {
  margin: auto 0;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li button::before {
  font-size: 0.5rem;
}



#left-sidebar::-webkit-scrollbar {
  width: 4px;
}

#left-sidebar::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 20px;
}

#project-sidebar::-webkit-scrollbar {
  width: 4px;
}

#project-sidebar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.grid-card2 {
  box-shadow: #00000029 0px 1px 4px;
}

/* Script slider */

.scripts-slider .slick-dots {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 18px;
  width: fit-content;
  border-radius: 50px;
  display: flex !important;
  margin: 0 auto;
  align-items: center;
  background-color: #ffffff29;
}

.scripts-slider .slick-dots li {
  margin: 0;
}

.scripts-slider .slick-slide::-webkit-scrollbar {
  width: 4px;
}

.scripts-slider .slick-slide::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 20px;
}

/* Dashboard slider */

.dashboard-slider .slick-dots {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 18px;
  width: fit-content;
  border-radius: 50px;
  display: flex !important;
  margin: 0 auto;
  align-items: center;
  background-color: #ffffff29;
}

.dashboard-slider .slick-dots li {
  margin: 0;
}

.dashboard-slider .slick-slide::-webkit-scrollbar {
  width: 4px;
}

.dashboard-slider .slick-slide::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 20px;
}


/* Project-list */
.projects-list::-webkit-scrollbar {
  width: 4px;
}

.projects-list::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

.data-stories::-webkit-scrollbar {
  width: 4px;
}

.data-stories::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

.script-box::-webkit-scrollbar {
  width: 4px;
}

.script-box::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}
.filter-dropdwon-container::-webkit-scrollbar {
  width: 4px;
}

.filter-dropdwon-container::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 20px;
}

.custom-scroller::-webkit-scrollbar {
  width: 4px;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.project-sidebar-filters::-webkit-scrollbar {
  display: none;
}


/* dashboard calendar */
.fc .fc-toolbar-title {
  font-size: 0.8rem;
}

.fc .fc-button {
  border-radius: 50px;
  font-size: 10px;
}

.fc .fc-col-header-cell-cushion {
  font-size: 10px;
  font-weight: 400;
}

/* Hide arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* suport page designs */
.support-card {
  transition: all 0.3s ease;
}
.support-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Faqs */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faq-item.active .faq-answer {
  max-height: 1000px; /* Adjust this value based on your content */
  transition: max-height 0.5s ease-in;
}
.faq-icon {
  transition: transform 0.3s ease;
}
.faq-item.active .faq-icon {
  transform: rotate(45deg);
}

/* Keyframes */

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}